title {
    font-family: Georgia;
}

body {
    font-family: Arial;
    background-color: #ffffff;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border: 5px solid white;
    width: 100%;
    margin: 0;
}

h1 {
    margin-top: 1in;
    text-align: center;
}

h2 {
    font-size: 28pt;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.icon {
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 36pt;
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:20px;
    padding:10px;
    list-style: none; 
}

li{
    margin:10px;
}

ul{
     list-style: none;
}

a.title {
    text-decoration: none;
    color: #000000;
    font-size: 36pt;
    border: 5px solid black;
    padding: 5px;
}

#index {
    float: right;
    margin-right: 20px;
    height: 360px;
    width: 180px;
}

a:hover {
    background: #000000;
    color: #ffffff;
}

hr {
    height: 10px;
    background-color: black;
    display: block;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
}

button {
    border-radius: 4px;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 28pt;
}

button:hover {
    background-color: white;
    color: black;
}

blockquote {
    font-style: italic;
    margin: 20px;
    padding: 10px;
    border-left: 5px solid #000000;
    font-size: 60px;
}
h2 {
    font-style: oblique;
    text-align: center;
}

p::first-letter {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}
p {
    text-indent: 2em;
    margin: 40px;
    font-size: 18px;
}

section {
     border: 5px solid black;
     margin: 40px;
}

.hover-effect:hover {
    position: relative;
}
.hover-effect::before {
    content: attr(content);
    display: block;
    white-space: nowrap;
    position: absolute;
    bottom: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.floating-window {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color:white;
  border: 5px solid black;
  margin:40px;
}

.toolbar{
    line-height: 0;
}

kind:hover {
    text-underline-position: under;
}
/*  I realize I can probably make this simpler but IDK how */


figurative:hover {
    font-weight: bold    
}

paradox:hover {
    font-style:italic
}

span[style="simile"] {
    color: red
}

span[style="metaphor"] {
    color: orange
}

span[style="irony"] {
    color: yellow
}

span[style="symbolism"] {
    color: green
}

span[style="personification"] {
    color: blue
}

span[style="hyperbole"] {
    color: purple
}

span[style="idiom"] {
    color: pink
}

span.emphasis {
    font-style: italic;
    font-weight: bold;
    color: #ff9933;
}